/* styles.css */

header {
  background-color: cornflowerblue;
  color: #fff;
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: center; /* Center items horizontally */
}

.logo-and-title-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Vertically center items */
  width: 50%; /* Ensure it spans the entire header width */
}

.logo-container {
  margin-right: 5px; /* Add some space between logo and title */
}
.logo{
  height: auto;
  width: 100px;
  margin-top: 10px;
}

.title {
  margin: 0;
  margin-top: 10px;
}

.established {
  border: 1px solid black;
  padding: 5px; /* Adjust padding as needed */
  width: 470px; /* Set the width to 100px */
  font-size: large;
  background-color: navy;
  margin-left: 5%; /* Move the box 30px to the right */
  margin-top: 10px; /* Adjust as needed */
  text-align: center;
}

.nav {
  margin-top: 10px;
  text-align: center; /* Center the navigation links */
  background-color: grey;
  width: 100%; /* Change row color to grey */
  height: 40px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  
}

.nav ul li {
  display: inline-block; /* Change display to inline-block */
  margin-right: 30px;
  position: relative; /* Set position to relative for dropdowns */
  transition: transform 0.3s, font-size 0.3s;
  margin-top:-10px;
}

.nav ul li a {
  color: #1c1c1c; /* Change nav items color to white */
  text-decoration: none;
  font-weight: 800;
  display: block; /* Display as block for padding and width */
  padding: 10px; /* Add padding for better click area */
}

.nav ul li a:hover {
  text-decoration: underline;
  color: black;
  font-size: 18px;
}

.nav ul li:hover {
  transform: scale(1.05); /* Scale up slightly when hovered */
}

/* Dropdown container */
.nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  opacity: 0.8;
}

/* Dropdown container visible on hover */
.nav ul li:hover > ul {
  display: block;
  opacity: 1;
}

/* Dropdown menu items */
.nav ul ul li {
  display: block;
}

/* Style dropdown links on hover */
.nav ul ul li:hover {
  background-color: #ddd;
}
