/* styles.css */

header {
  background-color: cornflowerblue;
  color: #fff;
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: center; /* Center items horizontally */
}

.logo-and-title-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Vertically center items */
  width: 50%; /* Ensure it spans the entire header width */
}

.logo-container {
  margin-right: 5px; /* Add some space between logo and title */
}
.logo{
  height: auto;
  width: 100px;
  margin-top: 10px;
}

.title {
  margin: 0;
  margin-top: 10px;
}

.established {
  border: 1px solid black;
  padding: 5px; /* Adjust padding as needed */
  width: 470px; /* Set the width to 100px */
  font-size: large;
  background-color: navy;
  margin-left: 5%; /* Move the box 30px to the right */
  margin-top: 10px; /* Adjust as needed */
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  text-align: center; /* Center the navigation links */
  background-color: grey;
  width: 100%; /* Change row color to grey */
  height: 40px;
}


.nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 670px;
  
}

.nav ul li {
  display: inline-block; /* Change display to inline-block */
  margin-right: 30px;
  position: relative; /* Set position to relative for dropdowns */
  transition: transform 0.3s, font-size 0.3s;
  margin-top: -10px; /* Adjust as needed */
}

.nav ul li a {
  color: #1c1c1c; /* Change nav items color to white */
  text-decoration: none;
  font-weight: 800;
  display: block; /* Display as block for padding and width */
  padding: 15px; /* Add padding for better click area */
}

.nav ul li a:hover {
  text-decoration: underline;
  color: black;
  font-size: 18px;
}

.nav ul li:hover {
  transform: scale(1.05); /* Scale up slightly when hovered */
}

/* Dropdown container */
.nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  opacity: 0.8;

}

/* Dropdown container visible on hover */
/* Dropdown container visible on hover */
.nav ul li:hover > ul {
  display: block;
  opacity: 1;
  margin-left: 10px; /* Adjust as needed */
}


/* Dropdown menu items */
.nav ul ul li {
  display: block;
  
}

/* Style dropdown links on hover */
.nav ul ul li:hover {
  background-color: #ddd;
 
}



.search-bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 18px;
  margin-left: 5px;
  
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* header.css */

/* Your existing CSS code */
.search-suggestions {
  position: absolute; /* Position the suggestions box */
  left: 87%; /* Initial left position */
  transform: translate(-50%, -50%); /* Center the box */
  background-color: #ffffff;
  top: 30%;
  width: 300px; /* Adjust width as needed */
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Additional styles based on the number of suggestions */
.search-suggestions ul {
  list-style-type: none;
  padding: 0;
}

.search-suggestions ul li {
  padding: 10px;
}

.search-suggestions ul li a {
  text-decoration: none;
  color: #333333;
  display: block;
}

.search-suggestions ul li a:hover {
  text-decoration: underline;
  color: #000000;
  background-color: #f5f5f5;
}

/* Positioning adjustments based on the number of suggestions */
.search-suggestions.one-suggestion {
  top: 25%;
}

.search-suggestions.two-suggestions {
  top: 26%;
}

.search-suggestions.three-suggestions {
  top: 31%;
}
.search-suggestions.three-suggestions {
  top: 35%;
}




@media only screen and (max-width: 1450px){
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin-left:250px;
    
  }
  .nav ul li:hover > ul {
    display: block;
    opacity: 1;
    margin-left: 10px; /* Adjust as needed */
  }
}

@media only screen and (max-width: 1100px){
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin-left:0px;
    font-size: 14px;
    
  }
  .nav ul li:hover > ul {
    display: block;
    opacity: 1;
    margin-left: 10px; /* Adjust as needed */
  }
  .search-suggestions {
    position: absolute; /* Position the suggestions box */
    top: 28%; /* Place it in the middle vertically */
    left: 78%; /* Place it in the middle horizontally */
    transform: translate(-50%, -50%); /* Center the box precisely */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 300px; /* Adjust width as needed */
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  
  }
}

@media only screen and (max-width: 850px){
  .nav ul {
    list-style-type: none;
    padding: 0;
    
    font-size: 11px;
    
  }
  .nav ul li:hover > ul {
    display: block;
    opacity: 1;
    margin-left: 10px; /* Adjust as needed */
  }
  .nav ul li {
    display: inline-block; /* Change display to inline-block */
    margin-right: 10px;
    position: relative; /* Set position to relative for dropdowns */
    transition: transform 0.3s, font-size 0.3s;
    margin-top: -10px; /* Adjust as needed */
    
  }
  .search-suggestions {
    position: absolute; /* Position the suggestions box */
    top: 28%; /* Place it in the middle vertically */
    left: 75%; /* Place it in the middle horizontally */
    transform: translate(-50%, -50%); /* Center the box precisely */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 300px; /* Adjust width as needed */
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  .search-bar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}