.mainCarr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.department-page {
    display: flex;
    flex-direction: row; /* Display as row */
    align-items: flex-start; /* Align items to the start of the cross axis */
    justify-content: space-between; /* Add space between columns */
}

.left-column {
    flex: 1; /* Take up available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px; /* Adjusted margin */
    margin-left: 20px;
}

.right-column {
    flex: 0.4; /* Take up available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
   margin-right: 10px;
   
}

.corner-top {
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
}

.department-header {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

.department-list-container {
    border: 1px solid #0d0d0d;
    padding: 10px;
    width: 250px;
    margin: 20px 120px 0 200px;
    border-radius: 10px;
}

.department-list-header {
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
}

.department-list {
    list-style-type: none;
    padding: 0;
}

.department-list li {
    margin-bottom: 10px;
}

.image-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-photo {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.join {
    margin-top: 20px;
}

.rtext {
    text-align: right;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.rtext:hover {
    text-decoration: underline;
    color: #333;
}

.rtext:focus {
    outline: none;
}

.opportunity,
.slpd-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    width: 100%;
    max-width: 700px;
    margin-left: 30px;
    margin-bottom: 45px;
}

.opportunity h4,
.slpd-el h2 {
    margin-bottom: 10px;
}

.opportunity ul,
.slpd-el ul {
    list-style-type: none;
    padding: 0;
}

.opportunity li,
.slpd-el li {
    margin-bottom: 25px;
}

.opportunity strong,
.slpd-el strong {
    font-weight: bold;
}

.opportunity p,
.slpd-el p {
    text-align: center;
}
