.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

form {
  margin-top: 10px;
  margin-bottom: 3%;
}

form h2 {
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="submit"],
nav button {
  margin-top: 10px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    display: block;
    margin-bottom: 20px;
  }
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button[type="submit"] {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.login-form button[type="submit"]:hover {
  background-color: #0056b3;
}
