.mcontainer{
  display: flex;
  background-color: azure;
}
.container {
  flex: 1;
  height: 100%;
  max-height: 1300px;
  padding: 20px;
 width: 100%;;
 max-width: 1300px;
 
}


.photo-container {
  text-align: center; /* Center the photos */
  display: block;
  height: 500px;
}

.photo {
  width: 80%;
  height: 700px;
  margin: 10px; /* Adjust the margin as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: black;
    opacity: 0.975;
}

.separator {
  width: 100%;
  margin: 20px 0;
  margin-top: 290px;
  border: 1px solid #ccc;
}

.emergency-text {
  color: red;
  margin-bottom: 20px;
 text-align: right;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container-item {
  flex: 1;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 280px;
  cursor: pointer;
}

.container-item h2 {
  margin-bottom: 10px;
}

.container-photo {
  width: 80%;
  height: auto;
  margin-top: 20px;
}
.small {
  width: 50px;
  height: auto;
  margin-top: 20px;
}
.small:hover {
  transform: scale(1.1); /* Increase size on hover */
  transition: transform 0.3s ease; /* Add smooth transition */
}
.clickable-column{
  cursor: pointer;
  height: 320px;
 
 
}

